.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #0fcf62;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRow--flex-layout-row-carteira-main {
  width: 1240px;
  margin: 0 auto;
  border: double 6px transparent;
  border-radius: 8px;
  background-image: linear-gradient(white, white),
    linear-gradient(180deg, #39d57c 0%, #66317c 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-top: 1px solid #8bc34a;
  border-right: 1px solid #8bc34a;
  border-bottom: 1px solid #8bc34a;
}

.flexRowContent--text-carteira-mobile {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  border: double 6px transparent;
  border-radius: 8px;
  background-image: linear-gradient(white, white),
    linear-gradient(180deg, #39d57c 0%, #66317c 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-top: 1px solid #8bc34a;
  border-right: 1px solid #8bc34a;
  border-bottom: 1px solid #8bc34a;
  text-align: center;
}